<!-- FOOTER DETAILS

<footer style="background-color:#e2e2e2"><hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <ul class="mb-5">
          <li class="mb-3">FAQ</li>
          <li class="mb-3">Terms & Condition</li>
          <li class="mb-3">Bulk Order</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li class="mb-3">Data Privacy & Policy</li>
          <li class="mb-3">E-waste Management</li>
          <li class="mb-3">Social Responsiblity</li>
        </ul>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="custom__item small--one-whole one-half align--top-middle">
          <div class="h2">Subscribe to us</div>

          <div class="appear-delay-2">
            <form
              method="post"
              action="/contact#newsletter-"
              id="newsletter-"
              accept-charset="UTF-8"
              class="contact-form"
            >
              <input type="hidden" name="contact[context]" value="" />
              <div class="newsletter-form-group">
                <input
                  type="email"
                  value=""
                  placeholder="Enter your email"
                  name="contact[email]"
                  id="Email-footer"
                  class="newsletter-form-group__input"
                  autocapitalize="off"
                />
                <button
                  type="submit"
                  class="newsletter-form-group__submit btn"
                  name="commit"
                  title="Submit"
                  style="color: #fff"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="connect-us">
            <ul class="d-flex justify-content-center align-items-space-between">
              <li>
                <a href="#"
                  ><img
                    src="https://cdn.shopify.com/s/files/1/0997/6284/files/fb_1x.png?v=1600417211"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="https://cdn.shopify.com/s/files/1/0997/6284/files/Instagram_1x.png?v=1600417234"
                /></a>
              </li>

              <li>
                <a href="#"
                  ><img
                    src="https://cdn.shopify.com/s/files/1/0997/6284/files/youtube_1x.png?v=1600417247"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright mt-2 d-flex justify-content-center align-items-center">
      <h4>© 2022 Timex Watches All Rights Reserved</h4>
    </div>
  </div>
</footer> -->

<!-- New footer details  -->
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify"><i>The Titan Company Limited (Titan)</i> Journey began with small but
          confident steps in 1984 as a joint venture between the TATA Group and Tamil Nadu Industrial Development
          Corporation (TIDCO). Started with an objective to create a Titan watch for everyone has now grown to be the
          fifth largest integrated watch manufacturer in the world which was only the beginning of a success story.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#">Men Watches</a></li>
          <li><a href="#">Women Watches</a></li>
          <li><a href="#">Special Editions</a></li>
          <li><a href="#">Watches for everyone</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://www.titancompany.in/about-us">About Us</a></li>
          <li><a href="https://www.titancompany.in/contact-us">Contact Us</a></li>
          <li><a href="https://www.titan.co.in/privacy-policy">Privacy Policy</a></li>
          <li><a href="https://support.titan.email/hc/en-us/articles/900000677823-TITAN-Sitemap-">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">Titan</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
